@page
@model BoredAndBookless.Pages.KnjigaSveModel
@{
    ViewData["Title"] = "Knjige";
}

<style>
    body {
        background-color: #FAF5EB;
    }
</style>

<div class="text-center">
    <h1 style="color: #56493E;"> Knjige </h1>
</div>

@if (SessionClass.TipKorisnika == "A")
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end ">
            <li class="page-item btnSubmit"><a class="btnSubmit" asp-route-id="@Model.BibliotekaId" asp-page="./KnjigaDodaj">Dodaj knjigu <i class="fas fa-plus-circle"></i></a></li>
        </ul>
    </nav>
}
<form method="post">
    <div class="pretraga">
        <select class=" form-control" asp-for="IzabraniZanr" asp-items="Model.SviZanrovi" style="width:50%">
            <option>Prikaži sve</option>
        </select>
        <button type="submit" class="btnSubmit">Prikaži   <i class="fas fa-search"></i></button>
    </div>
    <div class="row centriraj">
        @foreach (var knjiga in Model.SveKnjige)
        {
            <div class="container-kartica">
                <div class="col-sm-4">
                    <div id="card" class="kartica" style="background-color: #FAF5EB;">
                        <div class="biblioteka-selected">
                            <div style="text-align:center"><h2 style="color:#56493E; text-align:center;">@knjiga.Naziv </h2></div>
                            @if (knjiga.Slika != null)
                            {
                                <img src="images/@knjiga.Slika" alt="Avatar" style="width:250px;height:200px;">}
                        </div>

                        <div class="operacije">
                            <div class="row row-no-gutter">

                                @if (SessionClass.TipKorisnika == "A")
                                {
                                    <div class="col-md-4">
                                        <div class="operacija">
                                            <a asp-page="./KnjigaIzmeni" asp-route-id="@knjiga.Id" style="color:#56493E"> <h1>Izmeni</h1> <i class="fas fa-edit"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="operacija">
                                            <a asp-page="./KnjigaObrisi" asp-route-id="@knjiga.Id" style="color:#56493E"> <h1>Obrisi</h1><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                }

                                <div class="col-md-4">
                                    <div class="operacija">
                                        <a asp-page="./KnjigaJedna" asp-route-id="@knjiga.Id" style="color:#56493E"> <h1>Pogledaj knjigu</h1> <i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>

                                @if (SessionClass.TipKorisnika == "K")
                                {
                                    <div class="col-md-4">
                                        <div class="operacija">
                                            <a asp-page="./RezervacijaDodaj" asp-route-id="@knjiga.Id" style="color:#56493E"> <h1>Iznajmi knjigu</h1><i class="fas fa-calendar-plus"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>
